body, 
#icon_con,
#content,
#footer{
  width:100%;
}
body{
  height:100%;
  padding:0;
  margin:0;
  background: #b3ffcc;
}
#icon_con{
  height: 15%;
  background: #99ff99;
  margin:0;
}
.header{
  height: 60%;
}
.header img{
  border: 2px solid coral;
  border-radius: 2vh;
}

.menu-con{
  height: 40%;
}
.menu-con img{
  border: 0.2vh solid green;
  border-radius:20px;
}

#content{
  height: 80%;
  background: #ccffdd;
}

.artihead{
  height: 10%;
  box-shadow: inset 0.5vh 0.5vh 1.0vh 0.5vh coral;
  margin: 0;
  font-size: 2vh;
  background: white;
  padding: 0.3vh 2vh;
}

.artibody{
  height: 95%;
}

.artibody,
aside{
  overflow-y: scroll;
}

.arti{
  position: relative;
  padding: 0 5px;
}
.active{
  background: #e6ffee;
}

.ed-item{
  width: 80%;
  height: 70%;
  background: lavenderblush;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2vh;
  box-shadow: inset 4px 4px 8px coral;
  font-size: 1.8vh;
  font-weight: bold;
  color: #004466;
  color: green;
}
.footer{
  height: 5%;
  background: green;
}
.footer span,
.footer a{
  margin: 0 2vh 0 2vh;
  font-size: 1.5vh;
  color: white;
}
